.container{
	color:orange;
    display: flex;
    align-items: center;
	justify-content: space-around;

}

.container h1 {
	color:black;
}

.container h2 {
	color:black;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header  {
	background-color:white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 10px;

}

header nav ul {
	list-style-type: none;
	display: flex;
}

header nav ul li {
	padding: 5px 10px;
	margin: 25px;
}

header nav ul li a {
	text-decoration: none;
	color: #000;
}
